<!DOCTYPE html>
<html lang="en">
    <head>
            <link rel="stylesheet" href="animate.min.css">
            <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
            <h1 class="animated infinite bounce delay-2s">Example</h1>

    </body>    
</html>